<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLookAi</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
    <form action="/gen_picture_of_user" method="post">
        <textarea placeholder="gender (man/woman)" name="gender" rows="1" cols="15"></textarea>
        <textarea placeholder="age" name="age" rows="1" cols="15"></textarea>
        <textarea placeholder="height (tall, regular, short)" name="height" rows="1" cols="15"></textarea>
        <textarea placeholder="hair colour" name="hair_colour" rows="1" cols="15"></textarea>
        <textarea placeholder="hair length (short, medium, long)" name="hair_length" rows="1" cols="15"></textarea>
        <textarea placeholder="eye colour" name="eye_colour" rows="1" cols="15"></textarea>
        <textarea placeholder="build" name="build" rows="1" cols="15"></textarea>
        <textarea placeholder="race" name="race" rows="1" cols="15"></textarea>
        <input type="submit" value="Go">
    </form>
</body>
</html>
